<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ynet | User profile</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/static/custom.css" rel="stylesheet" type="text/css">
        <script src="/jsi18n/"></script>
  </head>

  <body>
{% load i18n %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ynet</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">{% trans "Профиль" %} <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Api <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/api/users">{% trans "Пользователи" %}</a></li>
                  <li><a href="/api/events/">{% trans "События" %}</a></li>
                  <li><a href="/api/comments/">{% trans "Комментарии" %}</a></li>
                  <li><a href="/api/posts/">{% trans "Посты" %}</a></li>
                  <li><a href="/api/chats/">{% trans "Чаты" %}</a></li>
                  <li><a href="/api/messages/">{% trans "Сообщения" %}</a></li>
                  <li><a href="/api/friendships/">{% trans "Друзья" %}</a></li>
                  <li><a href="/api/photos/">{% trans "Фотографии" %}</a></li>
                  <li><a href="/api/albums/">{% trans "Альбомы" %}</a></li>
                  <li><a href="/api/likes/">{% trans "Лайки" %}</a></li>
                  <li><a href="/api/birthdays/">{% trans "Дни рождения" %}</a></li>
                  <li><a href="/api/meetings/">{% trans "Встречи" %}</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                    <form id="changelang" class="form form-inline" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group"
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                        </div>
                        <div class="form-group">
                            <select name="language" id="changelangselect">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
              </li>
              <li><a href="/logout/">Exit</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

    {% block content %}

    {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright Ynet 14/88</p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>
    <script>
        $( document ).ready(function() {
           $("#changelang select").change(function() {
             $("#changelang").submit();
           });
        });
    </script>

    {% block specify_app %}
    {% endblock %}
    </body>
</html>
